body {
  background-color: #fafafa;
  font-family: sans-serif;
}
h2 {
  text-align: center;
  color: #455590;
}
h3 {
  text-align: center;
  padding-right: 8%;
}
#lorem {
  padding-top: 15px;
  width: 400px;
  margin-left: 36.5%;
  text-align: left;
  padding-bottom: 20px;
}
select {
  background-color: #e5e5f5;
}

.dropdown-container {
  text-align: center;
}

select {
  border: #e5e5f5;
  border-radius: 5px 5px 5px 5px;
  width: 400px;
  padding: 10px;
  margin: 0 auto;
  display: block;
}

.select {
  padding-bottom: 10px;
}
.button-container {
  text-align: right;
  border: none;
  border-radius: 50px 50px 50px 50px;
  text-decoration: none;
}
button {
  padding-right: 12px;
  margin-right: 36%;
  width: 100px;
  height: 30px;
  color: #fafafa;
  background-color: #455590;
}
button:hover {
  cursor: pointer;
}
button:active {
  background-color: #455550;
}
